@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0a192f;
    color: #ccd6f6;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: auto;
}

header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background: rgba(10, 25, 47, 0.9);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #64ffda;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #64ffda;
    padding: 5px 12px;
    border-radius: 6px;
}

nav a {
    color: #8892b0;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    color: #64ffda;
}

.linkedin-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color: #8892b0;
    transition: 0.3s;
}

.linkedin-link:hover {
    color: #64ffda;
    transform: translateY(-2px);
}

.btn-outline {
    border: 1px solid #64ffda;
    padding: 8px 15px;
    border-radius: 5px;
    color: #64ffda;
}

.hero {
    padding: 150px 0 100px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small-text {
    color: #64ffda;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 48px;
    color: #ccd6f6;
}

.hero-text h2 {
    font-size: 42px;
    color: #8892b0;
    margin-bottom: 20px;
}

.description {
    max-width: 500px;
    color: #8892b0;
    margin-bottom: 30px;
}

.btn-main {
    background: transparent;
    border: 1px solid #64ffda;
    padding: 12px 20px;
    color: #64ffda;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-main:hover {
    background: rgba(100, 255, 218, 0.1);
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 320px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    mix-blend-mode: lighten; /* membuat foto menyatu dengan background */
    filter: brightness(1.05) contrast(1.05);
    transition: 0.4s ease;
}



.hero-image img:hover {
    transform: translateY(-8px) scale(1.02);
}

.section {
    padding: 80px 0;
}

.section h3 {
    color: #64ffda;
    margin-bottom: 20px;
}

.card {
    background: #112240;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    color: #8892b0;
    font-size: 14px;
}